* {
  margin: 0;
  padding: 0;
}
.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-bars{
  display: none;
  cursor: pointer;
}
.headerHolder {
  width: 100%;
  height: 70px;
  background-color: #f1f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f3f8;
}
.navholder {
  display: flex;
  width: 300px;
  height: 70px;
  justify-content: space-between;
  font-family: sans-serif;
  align-items: center;
}
.navs {
  color: #6c7ba8;
  cursor: pointer;
}
.navs a {
  color: #6c7ba8;
  text-decoration: none;
}

.headerbutton {
  width: 80px;
  height: 40px;
  background-color: #6c7ba8;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  border: none;
}
.headerbutton a {
  color: white;
  text-decoration: none;
}
.headerbutton2 {
  width: 80px;
  height: 40px;
  background-color: #f1f3f8;
  border-radius: 6px;
  color: #6c7ba8;
  font-weight: bold;
  border: 1px solid #6c7ba8;
}
.headerbutton2 a {
  text-decoration: none;
  color: #6c7ba8;
}
.burgermenu{
  display: none;
   position: fixed;
   top: 0;
   right: 0;
   width: 40%;
   height: 100%;
   background-color: #f1f3f8;
   z-index: 999;
  
}
.navholder2 {
width: 80%;
max-width: 300px;
height: 40%;
padding: 20px;
box-sizing: border-box;
display: flex;
flex-direction: column;
gap: 20px;
 /* position: fixed; */
top: 0;
right: 0; 
font-family: sans-serif;
}
.navs {
  color: #6c7ba8;
  cursor: pointer;
}
.navs a {
  color: #6c7ba8;
  text-decoration: none;
}
.burgerholder{
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.burgerbutton{
  width: 100px;
  height: 50px;
  border: 1px solid #6c7ba8;
  background-color: #f1f3f8;
  font-weight: bold;
  border-radius: 6px;

}
.burgerbutton a{
  color: #6c7ba8;
  text-decoration: none;
}
.fa-times{
  font-size: 30px;
  cursor: pointer;
}
.hero {
  width: 100%;
  height: 640px;
  background-color: #f1f3f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroholder {
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.lefthero {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.herotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headtext {
  font-weight: bold;
  font-size: 36px;
  text-align: left;
  font-family: sans-serif;
}
.headbodytext {
  color: #3e4a6b;
  text-align: left;
  font-family: sans-serif;
  margin-top: 20px;
  font-size: 18px;
}
.buttonholder2 {
  width: 220px;
  height: 50px;
  display: flex;
  margin-top: 20px;
}

.herobutton {
  width: 100px;
  height: 40px;
  background-color: #6c7ba8;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: none;
}
.herobutton a {
  color: white;
  text-decoration: none;
}
.righthero {
  width: 45%;
  display: flex;
  background-color: rgba(248, 246, 246, 0.897);
  border-radius: 6px;
}
.righthero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sectionholder {
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 {
  width: 90%;
  height: 160px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: -55px;
}
.boxes {
  width: 230px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  border-right: 2px solid lightgray;
}
.boxesp {
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}
.boxp {
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}
.box {
  width: 230px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
}
.section2 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.sectionholder2 {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftsection {
  width: 45%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.leftsectionheadtext {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
.leftsectionbodytext {
  font-size: 25px;
  font-family: sans-serif;
  color: #3e4a6b;
}
.rightsection {
  width: 45%;
  height: 380px;
  background-color: rgba(253, 249, 249, 0.466);
}
.rightsection img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.section3 {
  margin-top: 40px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionheadtext3 {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
.sectionholder3 {
  width: 90%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.box2 {
  width: 250px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 5px;
}

.section4 {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}
.section4headtext {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}
.cardholder {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}
.nameholder {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border-radius: 50%;
  margin-top: 20px;
}
.nameholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  width: 100%;
  margin-top: 50px;
  max-width: 90%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  gap: 14px;
}
.wrapper::-webkit-scrollbar{
  display: none;
}
.container {
  max-width: 300px;
  flex-shrink: 0;
  padding: 36px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section5 {
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: white;
  display: flex;
}
.text {
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url("./images/Frame\ 95.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.sectionbutton5 {
  width: 100px;
  height: 40px;
  background-color: #6c7ba8;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  border: none;
}
.sectionbutton5 {
  cursor: pointer;
}
.sectionbutton5 a {
  color: white;
  text-decoration: none;
}
.section6 {
  width: 100%;
  height: 300px;
  background-color: #6c7ba8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerholder {
  display: flex;
  width: 300px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}
.nav {
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}

hr {
  width: 90%;
  height: 1px;
  background-color: white;
}
@media (max-width: 425px) {
  .headerHolder {
    width: 100%;
    height: 70px;
  }
  .header {
    width: 90%;
    height: 70px;
  }
  .logo {
    width: 85px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    width: 85px;
    height: 33px;
  }
  .navholder {
    width: 180px;
    font-size: 14px;
    display: none;
  }
  .fa-bars{
    display: block;
    font-size: 24px;
    cursor: pointer;
  }
  .headerbutton2 {
    width: 60px;
    height: 30px;
    display: none;
  }
  .headerbutton2 {
    width: 60px;
    height: 30px;
  }
  .hero {
    width: 100%;
    height: 640px;
    display: flex;
    flex-direction: column;
  }
  .heroholder {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .lefthero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonholder2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headtext {
    font-size: 33px;
    text-align: center;
  }
  .headbodytext {
    text-align: center;
    font-size: 16px;
  }
  .righthero {
    width: 100%;
    height: 300px;
    margin-top: 10px;
  }
  .sectionholder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .section1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  .boxes {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid lightgray;
  }
  .box {
    width: 100%;
    height: 100px;
  }
  .section2 {
    width: 100%;
    height: auto;
  }
  .sectionholder2 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .leftsection {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 15px;
  }
  .leftsectionheadtext {
    font-size: 27px;
    text-align: center;
  }
  .leftsectionbodytext {
    font-size: 27px;
    text-align: center;
  }
  .rightsection {
    width: 90%;
    height: auto;
    margin-top: 15px;
  }
  .section3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .sectionheadtext3 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .sectionholder3 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .box2 {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
  }
  .section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .section5 {
    width: 100%;
    height: auto;
  }
  .section6 {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .headerHolder {
    width: 100%;
    height: 70px;
  }
  .header {
    width: 90%;
    height: 70px;
  }
  .logo {
    width: 85px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    width: 85px;
    height: 33px;
  }
  .navholder {
    width: 220px;
    font-size: 18px;
    display: none;
  }
  .fa-bars{
    display: block;
    font-size: 24px;
  }
  .headerbutton2 {
    width: 60px;
    height: 30px;
  }
  .headerbutton2 {
    width: 70px;
    height: 40px;
    display: none;
  }
  .hero {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
  }
  .heroholder {
    width: 90%;
    height: 380px;
    display: flex;
    flex-direction: column;
  }
  .lefthero {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buttonholder2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headtext {
    font-size: 40px;
    text-align: center;
  }
  .headbodytext {
    text-align: center;
    font-size: 24px;
  }
  .righthero {
    width: 100%;
    height: 230px;
    margin-top: 50px;
  }
  .sectionholder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .section1 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  .boxes {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid lightgray;
  }
  .box {
    width: 100%;
    height: 100px;
  }
  .section2 {
    width: 100%;
    height: auto;
  }
  .sectionholder2 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .leftsection {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 18px;
  }
  .leftsectionheadtext {
    font-size: 30px;
    text-align: center;
  }
  .leftsectionbodytext {
    font-size: 30px;
  }
  .rightsection {
    width: 90%;
    height: auto;
    margin-top: 22px;
  }
  .section3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .sectionheadtext3 {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
  }
  .sectionholder3 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .box2 {
    width: 100%;
    height: 200px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
  }
  .section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .section4headtext {
    font-size: 30px;
  }
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
  }
  .container {
    max-width: 90%;
    padding: 36px;
  }
  .section5 {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .section6 {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 769px) {
  .headerHolder {
    width: 100%;
    height: 70px;
  }
  .header {
    width: 90%;
    height: 70px;
  }
  .logo {
    width: 85px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    width: 85px;
    height: 33px;
  }
  .navholder {
    width: 300px;
    font-size: 18px;
  }
  .headerbutton2 {
    width: 80px;
    height: 40px;
  }
  .headerbutton2 {
    width: 70px;
    height: 40px;
  }
  .hero {
    width: 100%;
    height: 500px;
    display: flex;
  }
  .heroholder {
    width: 90%;
    height: 500px;
    display: flex;
  }
  .lefthero {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headtext {
    font-size: 40px;
    text-align: left;
  }
  .headbodytext {
    text-align: left;
    font-size: 24px;
  }
  .righthero {
    width: 100%;
    height: 400px;
  }
  .sectionholder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .section1 {
    width: 65%;
    height: 160px;
    display: flex;
  }
  .boxes {
    width: 230px;
    height: 160px;
    border-right: 2px solid lightgray;
  }
  .box {
    width: 230px;
    height: 160px;
  }
  .section2 {
    width: 100%;
    height: auto;
  }
  .sectionholder2 {
    width: 90%;
    height: auto;
    display: flex;
  }
  .leftsection {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 18px;
  }
  .leftsectionheadtext {
    font-size: 30px;
    text-align: center;
  }
  .leftsectionbodytext {
    font-size: 35px;
  }
  .rightsection {
    width: 90%;
    height: auto;
    margin-top: 22px;
  }
  .section3 {
    width: 100%;
    height: auto;
    display: flex;
  }
  .sectionheadtext3 {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
  }
  .sectionholder3 {
    width: 90%;
    height: auto;
    display: flex;
  }

  .section4 {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 20px;
  }
  .section4headtext {
    font-size: 40px;
  }

  .section5 {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .section6 {
    width: 100%;
    height: auto;
  }
}
